.form {
  width: 60%;
  float: left;
  padding: 15px;
  .total {
    color: darkcyan;
    text-align: end;
    font-weight: bolder;
  }
}

.image {
  padding: 60px 130px;
  float: left;
  font-size: 100px;
}

.btn {
  margin: 15px 5px;
}
