<div class="page-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h1 class="title">
          <i class="fa fa-pagelines" style="color: darkcyan"></i>
          Welcome to {{ title }}
        </h1>
        <i class="fa fa-language" (click)="changeLanguage()"></i>
        <div class="content-container" [@routeChange]="o.isActivated ? o.activatedRoute : ''">
          <router-outlet #o="outlet"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>