$primaryColor: darkcyan;
$secondaryColor: white;
$borderColor: grey;

.page-container {

  background-color: $primaryColor;
  min-height: 100vh;

  .container {
    padding-top: 20px;

    .row {
      background-color: $secondaryColor;
      border-style: groove;
      border: solid $borderColor;
      border-radius: 10px;

      .col-lg-12 {
        height: 900px;
      }

      .title {
        padding: 15px;
        text-align: center;
      }

      .fa-language {
        font-size: 25px;
        float: right;
        padding: 15px;
      }

      .content-container {
        width: 1100 px;
        height: 800px;
        border-style: groove;
        border: 1px solid $borderColor;
        border-radius: 10px;
      }
    }
  }
}