$primaryColor: darkcyan;
$secondaryColor: white;
$borderColor: grey;

.page-container {

  background-image: linear-gradient( $primaryColor, $secondaryColor);
  min-height: 100vh;

  .container {
    padding-top: 20px;

    .row {
      background-color: $secondaryColor;
      border-style: groove;
      border: solid $borderColor;
      border-radius: 10px;

      .col-lg-12 {
        height: 900px;
      }

      .title {
        padding: 15px;
        text-align: center;
        font-weight: normal;

        .fa-pagelines {
          color: darkcyan;
        }
      }

      .content-container {
        width: 1100 px;
        height: 800px;
        border-style: groove;
        border: 1px solid $borderColor;
        border-radius: 10px;
      }
    }
  }
}
