$primaryColor: darkcyan;

.fa-arrow-left {
    font-size: 25px;
    padding: 30px;
}

h3 {
    padding: 0px 30px 0px 30px;
    font-weight: bold;
    color: $primaryColor;
}

.table-responsive {
    padding: 30px;
}

.flower-component {
    margin: 0px 30px;
    height: 55%;
    border: 1px solid lightgray;
}