.fa-arrow-left {
    font-size: 25px;
    padding: 30px;
}

.table-responsive {
    padding: 30px;
}

.flower-component {
    margin: 30px 100px;
    height: 55%;
    border: 1px solid lightgray;
    border-radius: 20px;
}